.col {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 20%;
    height: 100vh;
    transition: 0.25s background-color ease;
  }
  .col__btn {
    display: block;
    margin-top: auto;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    padding: 10px;
  }
  .col__title {
    display: block;
    text-align: center;
    font-size: 3vw;
    font-weight: 600;
    height: 60%;
    color: #fff;
  }
  @media (min-width: 0) and (max-width: 720px) {
    .col {
      width: 100vw;
      height: 20%;
      min-height: 100px;
    }
  }
  
  * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
  }
  
  html,
  body {
    display: block;
    position: fixed;
    height: 100vh;
    width: 100vw;
  }
  
  .main {
    display: flex;
    height: 100vh;
    width: 101vw;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    overflow-y: scroll;
  }
  @media (min-width: 0) and (max-width: 720px) {
    .main {
      display: block;
      width: 110vw;
    }
  }